<div class="col-lg-6 col-md-12">
    <h4 class="card-title">Notificaciones</h4>
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Comunicado</h3> 
        {{notificaciones["Mensaje1"]}}
    </div>
  
  
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Comunicado</h3> {{notificaciones["Mensaje2"]}}
    </div>
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> Aviso</h3> {{notificaciones["Mensaje3"]}}
    </div>
  </div>